*
!.config/
!.config/aerospace/
!.config/aerospace/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/wezterm/
!.config/wezterm/**/*
!.config/sketchybar/
!.config/sketchybar/**/*
!.config/sketchybar/
!.config/sketchybar/**/*
!.config/skhd/
!.config/skhd/**/*
!.config/yabai/
!.config/yabai/**/*
!.config/i3/
!.config/i3/**/*
!.tmux
!.vimrc
!Makefile
!scripts
!k9s
!.tmux.conf
!.ideavimrc
**/.DS_Store
